.AboutMain {
  background-color: rgba(240, 240, 240, 255);
  margin: 0;
  padding: 0;
}

.AboutHeader {
  margin: 0 0 2% 2%;
  text-decoration: underline;
}

p {
  margin: 0 0 1% 2%;
  font-family: Arial;
}

img {
  width: 12%;
  margin: 2% 2%;
}
