* {
  margin: 0;
  padding: 0;
}

.AboutMain {
  background-color: rgba(240, 240, 240, 255);
  position: absolute;
  max-height: 100%;
  height: 100%;
  right: 0;
  left: 0;
}

.AboutHeader {
  margin: 0 0 2% 2%;
  text-decoration: underline;
}

p {
  margin: 0 0 1% 2%;
  font-family: Arial;
}

img {
  width: 12%;
  margin: 2% 2%;
}
