* {
  padding: 0;
  margin: 0;
}

.Home {
  background-image: url("../../images/tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

.HomeHeader {
  width: 100%;
  text-align: center;
  margin: 10% 0 0 0;
}

.MainTitle {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.HomeButtonMain {
  width: 100%;
  text-align: center;
  margin: 3.5% 0 0 0;
}

.HomeButton {
  background-color: black;
  color: #fff;
  text-decoration: none;
  padding: 1% 2.5%;
  margin: 1.5%;
  font-family: Arial;
  font-weight: bold;
}

.HomeButton:hover {
  background-color: gray;
  transition: 0.5s;
}
